name: MLflow CI Pipeline

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  train-build-docker:
    runs-on: ubuntu-latest

    steps:
      # SETUP
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Check Env
        run: |
          python --version
          pip --version

      # INSTALL DEPENDENCIES
      - name: Install dependencies
        run: |
          pip install mlflow scikit-learn pandas numpy matplotlib seaborn joblib gdown

      # RUN TRAINING
      - name: Run training script
        run: |
          export MLFLOW_TRACKING_URI=file:${{ github.workspace }}/mlruns
          python MLProject/tempCodeRunnerFile.py

      - name: PROVE where MLflow writes
        run: |
          echo "=== WORKSPACE ==="
          ls -la
          echo "=== mlruns ==="
          ls -la mlruns || echo "mlruns NOT FOUND"
          echo "=== ~/.mlflow ==="
          ls -la ~/.mlflow || echo "~/.mlflow NOT FOUND"
    

      # GET LATEST RUN ID
      - name: Get latest MLflow model path
        run: |
          MODEL_PATH=$(find mlruns -type f -name MLmodel \
            | sort -r | head -1 | sed 's|/MLmodel||')

          if [ -z "$MODEL_PATH" ]; then
            echo "MODEL_PATH not found"
            exit 1
          fi

          echo "MODEL_PATH=$MODEL_PATH"
          echo "MODEL_PATH=$MODEL_PATH" >> $GITHUB_ENV



      # SAVE ARTIFACT
      - name: Upload MLflow Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: mlruns/

      # BUILD DOCKER IMAGE
      - name: Build Docker Model
        run: |
              mlflow models build-docker \
                -m runs:/${{ env.RUN_ID }}/artifacts/model \
                -n ${{ secrets.DOCKERHUB_USERNAME }}/heart-disease-mlflow

      # DOCKER HUB LOGIN
      - name: Log in to Docker Hub
        run: |
          echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login \
            -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

      # TAG IMAGE
      - name: Tag Docker Image
        run: |
          docker tag \
            ${{ secrets.DOCKERHUB_USERNAME }}/heart-disease-mlflow:latest \
            ${{ secrets.DOCKERHUB_USERNAME }}/heart-disease-mlflow:${{ env.RUN_ID }}

      # PUSH IMAGE
      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/heart-disease-mlflow:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/heart-disease-mlflow:${{ env.RUN_ID }}
